body {
 background-image: url('con.jpg');
 background-size: parallex  ;
    
}

.topnav {
    background-color: black;
    padding: 1%;
    overflow: hidden;
    text-align: center;
    font-size: large;
    border-radius: 25px;
    opacity: 0.7; 
    
    ;
    
    
}

.topnav a {
 font-family: 'Franklin Gothic Medium';
  margin: 1%;
  text-align: center;
  color: #eeebc6;
  opacity: 1;
}

.topnav a:hover {
  background-color:goldenrod;
  color: black;
}

h1 {
  font-size: 50px;
  color:#228b22 ;
  text-align: center;
}

p {
 text-align: center;
 color: #228b22 ;
 font-size: 25px;
 padding: 200px;
 padding-top: 0px;
}

hr {
  color: goldenrod;
  width: 53%;
}

img {
  width: 500px ;
  height: 400px;
  margin: 50px;
  align-content: center ;
  float: left;
  border-radius: 25px;
}
 .p2 {
   text-align: left;
   padding-left: 180px;
   padding-top: 1px ;
   padding-bottom: 1px;
   
}

.p3 {
  text-align: right;
  position: absolute;
  left: 615px;
  top: 655px ;
}

.hd2 {
 position: absolute;
 left: 17%;
 width: 15%;

}

.hd3 {
 position: absolute;
 right: 21%;
 width: 15%;
}

footer {
  position: absolute;
  width: 100%;
  background-color: #fffdd0;
  bottom: 0px;
  text-align: center;
  overflow-x: hidden;
  
}

.content {
  text-align: center;
  align-content: center;
  align-self: center;
  justify-content: center;

}

@media screen and (min-width: 300px) {
  div.content {
    font-size: 80px;
  }
}

@media screen and (max-width: 300px) {
  div.content {
    font-size: 30px;
  }
}

.cform {
  text-align: center;
}

label .fname, .lname {
  text-align: center;
  color: white;
  
}